@media only screen and (max-width:576px) {
  .dett{
    margin-left: 5%;
  }
  .ser{
    padding-left: 3%;
    height: 300px;
    width: 280px;
    margin-top: 10%;

  }
  .port{
    height: 200px;
    width: 100%;
  }
  .sec1{
    display: block;
    margin-top: 5%;
  }
    .main-nav{
        display: block;
    }
    .home__img img{
      margin-top: 5%;
      width:250px;
      margin-left: 5%;
    }
    .home__data{
      margin-top:10%;
    }
    .abt__title-color{
      margin-left: 20%;
    font-size: 50px;
    margin-top: 8%;
    margin-bottom: 20%;
    text-align: center;
    }
    .abtt__title-color{
      margin-left: 15%;
    font-size: 50px;
    margin-top: 8%;
    margin-bottom: 20%;
    text-align: center;
    }
    .ed__title-color{
      margin-left: 18%;
      font-size: 50px;
      margin-top: 8%;
      margin-bottom: 10%;
    }
    .abt__data{
      margin-top: 5%;
    margin-left: 13%;
    max-width: 75%;
    }
    .para{
      font-size: 18px;
  }
  .infooo{
    margin-left: -10%;
    display: block;
}
.info ul{
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Diphylleia', serif;
  color: #E4D9FF;
  margin-bottom: 7%;
  }
  .but{
    width: 50%;
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15%;
  }
  .year{
    display: block;
  }
  .ed li{
    margin-left: -12%;
    /* padding: 10%; */
    height: 170px;
    width:100% ;
    color: #E4D9FF;
    margin-bottom: 5%;
  }
  .cls, .clss{
    font-size: 22px;
    word-spacing: 2px;
  }
  .sch{
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: 600;
  }
  .grade{
    font-size: 15px;
    margin-bottom: 1%;
  }
  #cllg{
    margin-bottom: 25%;
  }
  .pass{
    margin-left: 0%;
    font-size: 18px;
    font-weight: 400;
  }
  .yearr{
    margin-left: 0%;
    font-size: 18px;
    font-weight: 400;
  }
  .service{
    display: block;
    margin-left: 5%;
  }
  .skill__title-color{
    font-weight: 1000;
       margin-left: 10%;
       font-size: 40px;
  }
  .skills__title-color{
    font-weight: 1000;
       margin-left: 20%;
       font-size: 40px;
       margin-bottom: 5%;
  }
  #slides .frame{
    height: 300px;

  }

  h2{
    margin-left: 5%;
    margin-top: 5%;
    color: #62a7cf;
     font-weight: 400;
        font-size: 20px;
        font-family: 'Diphylleia', serif;
        text-shadow: 0 0 2px #1dadd5;
  }
  .ser li{
    font-size: 16px;
    font-weight: 400;
  }
  .t{
    margin-left: 2%;
    display:block;
  }
  .par{
    font-size: 16px;
    font-weight: 400;
  }
  .imgg{
    display: none;
  }
  .positionn{
    font-size: 40px;
    text-align: left;
  word-spacing: 2px;
  font-weight: 700;
  }
  .companyy{
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 2px;
  }
  .durationn{
    font-size: 16px;
    /* letter-spacing: 2px; */
    word-spacing: 2px;
  }
  .sec2{
    display: block;
    /* margin-top: 12%; */
  }
  .subb{
    /* height: 310px; */
    margin-bottom: 15%;
    margin-left: 7%;
    margin-right: 4%;
    }
    .wrk__title-color{
      margin-left: 5%;
      font-size: 50px;
      margin-top: 8%;
      margin-bottom: 20%;
      text-align: center;
    }
    .cis-text p{
      width: 100%;
    }
    .ci-single{
      margin-left: 5%;
      margin: 2%;
    }
    .contact-info p{
      margin-left: 5%;
    }
    .home__title{
      margin-left: 0px;
    }
    h1{
      font-size: 2rem;
      margin-top: 1%;
      margin-left: 0%;
    }
    h1 .type{
      font-size: 25px;
    }
    h1 .type2, h1 .type3{
      font-size: 25px;
    }
    .home__title-color{
      font-size: 55px;
    }
    .sub{
      margin-bottom: 10%;
      height: 440px;
    }
    .sub img{
      width: 100%;
    }
    .card{
      height: 150px;
    }
}

@media only screen and (min-width:577px) {
  .card{
    margin-bottom: 0%;
    height: 150px;

  }
  h1{
    font-size: 3.2rem;
    margin-top: 1%;
    margin-left: 30%;
  }
  .cis-text p{
    width: 750px;
  }
  
  .wrk__title-color{
    margin-left: 32%;
    font-size: 70px;
    margin-top: 5%;
    margin-bottom: 7%;
  }
  .cardd{
  height: 350px;
  }
  .sec2{
    display: flex;
    flex-direction: row;
    margin-top: 12%;
  }
  
  .durationn{
    font-size: 20px;
    /* letter-spacing: 2px; */
    word-spacing: 2px;
  }
  .positionn{
    font-size: 50px;
    text-align: left;
  word-spacing: 2px;
  font-weight: 700;
 
  }
  .companyy{
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 2px;
  }
  .par{
    font-size: 18px;
    font-weight: 400;
  }
  .port{
    height: 400px;
    width: 500px;
  }
  .t{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
  }
  .ser li{
    font-size: 18px;
    font-weight: 400;
  }
  #slides .frame{
    height: fit-content;
  }
  .sec1{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  
  }
  h2{
    margin-top: 5%;
    color: #62a7cf;
     font-weight: 600;
        font-size: 25px;
        font-family: 'Diphylleia', serif;
        text-shadow: 0 0 2px #1dadd5;
  }
  .skill__title-color{
    margin-left: 33.5%;
    font-weight: 1000;
       font-size: 70px;
  }
  .service{
    display: flex;
    flex-direction: row;
    flex: 0 0 30%;
    margin-left: 5%;
  }
  .ser{
    padding-left: 3%;
    height: 350px;
    width: 300px;
  }
  .yearr{
    margin-left: 29%;
    font-size: 22px;
    font-weight: 600;
  }
  .pass{
    margin-left: 60%;
    font-size: 22px;
    font-weight: 600;
  }
  .sch{
    font-size: 22px;
    margin-bottom: 1%;
    font-weight: 600;
  }
  .grade{
    font-size: 18px;
    margin-bottom: 1%;
  }
  .year{
    display: flex;
    flex-direction:row;
  }
  .cls, .clss{
    font-size: 28px;
    word-spacing: 2px;
  }
  .but{
    width: 30%;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
  }
  .ed li{
    margin-left: -3%;
    padding: 3%;
    height: 170px;
    width:100% ;
    color: #E4D9FF;
  }
  .infooo{
    margin-left: -5%;
    display: flex;
    flex-direction: row;
}
.info ul{
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Diphylleia', serif;
  color: #E4D9FF;
  margin-bottom: 7%;
  }
  .abt__title-color, .ed__title-color, .abtt__title-color{
    margin-left: 40%;
    font-size: 70px;
  }
  .abt__data{
    margin-top: -5%;
    margin-left: 10%;
    max-width: 40%;
  }
  .para{
    font-size: 22px;
}
    .main-nav{
        margin-left: 42%;
        display: flex;
        flex-direction: row;
      }
      .home__img img{
        width:450px;
      }
      .home{
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (min-width:768px) {
    .contact-info p{
        /* width: 900px; */
        font-size: 22px;
           margin-left: 20%;
    max-width: 100%;
    } 
    .main-nav{
        margin-left: 42%;
        display: flex;
        flex-direction: row;
      }
  
}

@media only screen and (min-width:992px) {
    .contact-info p{
        /* width: 900px; */
        font-size: 25px;
           margin-left: 10%;
    max-width: 100%;
    } 
    .header{
        width: 800px;
        margin-left: 2%;

    }
    .ci-single{
        margin-left: 25%;
    }

      .main-nav{
        margin-left: 42%;
        display: flex;
        flex-direction: row;
      }
}

@media only screen and (min-width:1024px) {
  .contact-info p{
    /* width: 1150px; */
    max-width: 100%;
    margin-left: 15%;
     font-size: 30px;
} 
.header{
    width: 1150px;
    margin-left: 5%;
}
.ci-single{
  margin-left: 35%;

}
.main-nav{
    margin-left: 42%;
    display: flex;
    flex-direction: row;
  }
}